{% extends 'admin/homepageadmin.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier le produit</h1>

        {{ form_start(form, {'attr': {'class': 'needs-validation', 'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nomP) }}
                    {{ form_row(form.prixP) }}
                    {{ form_row(form.stockP) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.categorieP) }}
                    {% if produit.imagePath %}
                        <div class="mb-3">
                            <label class="form-label">Image actuelle</label>
                            <img src="{{ asset('uploads/products/' ~ produit.imagePath) }}" alt="{{ produit.nomP }}" class="img-thumbnail" style="max-width: 200px;">
                        </div>
                    {% endif %}
                    {{ form_row(form.imageFile) }}
                </div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                <a href="{{ path('admin_product_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %} 